## Import libraries

In [1]:
import pandas as pd

In [4]:
## Loading data

In [2]:
cars_data = pd.read_csv("clean_car_dataset.csv")

In [3]:
cars_data.isnull().sum()

Unnamed: 0    0
Price         0
Age           0
KM            0
FuelType      0
HP            0
MetColor      0
Automatic     0
CC            0
Doors         0
Weight        0
dtype: int64

## Exploratory Data Analysis
- Frequency Table(crosstab()): used to find the relationship b/n categorical variables

In [5]:
pd.crosstab(index=cars_data['FuelType'], columns='count', dropna='True')

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1277

In [7]:
## two way
pd.crosstab(index=cars_data['Automatic'], columns=cars_data['FuelType'], dropna='True')

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1197
1            0       0      80

In [8]:
## selecting all the numerical columns
numerical_data = cars_data.select_dtypes(exclude=[object])

In [10]:
numerical_data.columns
numerical_data.head()

   Unnamed: 0  Price   Age       KM    HP  MetColor  Automatic    CC  Weight
0           0  13500  23.0  46986.0  90.0  1.000000          0  2000    1165
1           1  13750  23.0  72937.0  90.0  1.000000          0  2000    1165
2           2  13950  24.0  41711.0  90.0  0.674961          0  2000    1165
3           3  14950  26.0  48000.0  90.0  0.000000          0  2000    1165
4           4  13750  30.0  38500.0  90.0  0.000000          0  2000    1170

In [11]:
corr_matrix = numerical_data.corr()

In [12]:
corr_matrix

,Unnamed: 0,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
Unnamed: 0,1.000000,-0.738289,0.872938,0.276041,-0.108220,-0.074515,0.066299,-0.184490,-0.414577
Price,-0.738289,1.000000,-0.845111,-0.565016,0.308414,0.107943,0.033081,0.165067,0.581198
Age,0.872938,-0.845111,1.000000,0.495199,-0.152946,-0.091331,0.030931,-0.116255,-0.442055
KM,0.276041,-0.565016,0.495199,1.000000,-0.332984,-0.088587,-0.080743,0.296281,-0.025758
HP,-0.108220,0.308414,-0.152946,-0.332984,1.000000,0.060990,0.013753,0.053466,0.086214
MetColor,-0.074515,0.107943,-0.091331,-0.088587,0.060990,1.000000,-0.013167,0.027524,0.054952
Automatic,0.066299,0.033081,0.030931,-0.080743,0.013753,-0.013167,1.000000,-0.069321,0.057249
CC,-0.184490,0.165067,-0.116255,0.296281,0.053466,0.027524,-0.069321,1.000000,0.651450
Weight,-0.414577,0.581198,-0.442055,-0.025758,0.086214,0.054952,0.057249,0.651450,1.000000